<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{{ .Title }}</title>

   <link rel="icon" type="image/png" href="/thumbs/logo.png">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="/post.css">
</head>



<body>
 <nav class="side-button-group">
      <a href="/" class="button-link">Home</a>
       <a href="/posts/" class="button-link">Projects</a>
    <a href="https://github.com/jase-4" target="_blank" class="button-link">GitHub</a>
    <a href="/resume/" class="button-link">Resume</a>
   
  </nav>
<div class="container">
  <main>
    <h1>{{ .Title }}</h1>
    <p><em>{{ .Date.Format "Jan 2, 2006" }}</em></p>
    <article>{{ .Content }}</article>
   <p class="back-link"><a href="/posts/">← Back to Projects</a></p>
  </main>
</div>

     <footer class="footer">
    <p>&copy; 2025 Jase Branch. All rights reserved.</p>
  </footer>

</body>

<script src="/nav-bar.js"></script>
</html>
